@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  font-size: 16px;
}
body {
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}
h2 {
  color: #70ACDA;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 28px;
}
h3 {
  color: #A5A5A5;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.7;
}
p {
  color: #A5A5A5;
  font-weight: 200;
  margin: 0 0 20px 0;
  line-height: 1.7;
  font-size: 16px;
}
input, textarea {
  font-family: inherit;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #C6C6C6;
  border-radius: 3px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C6C6C6;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C6C6C6;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #C6C6C6;
}
.plan-card {
  -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.nav a {
  display: inline-block;
  padding: 0 2px 4px 2px;
  margin: 0 20px;
  color: white;
  text-decoration: none;
}
.nav a.active, .nav a:hover {
  border-bottom: 2px solid white;
}
.slick-dots {
  bottom: 8px;
}

.patients .slick-dots {
  bottom: -30px !important
}

.slick-dots li button:before {
  font-size: 14px;
  color: hsla(206, 59%, 65%, 1);
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: hsla(206, 59%, 65%, 1);
}

li {
  color: #A5A5A5;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 200;
}

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li::before {
  content: "\2022   ";
  line-height: 0;
  color: hsla(206, 59%, 65%, 1);
}

.slick-dots li button {
  font-size: 0;
}
.slick-dots li button {
  content:url(path/to/your-image.png);
} */
div {
  outline: 0;
}